* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    opacity: 1;
    background:#883a33;
    background-size: cover;
    color: #fff;
}

.game-pad {
    width: 200px;
    position: absolute;
    top: 700px;
    margin: 30px;
    left: calc(50% - 130px);
}

.game-pad button {
    margin: 5px;
}

@media only screen and (min-width:1025px) {
    .game-pad {
        display: none;
    }
}